
<mat-nav-list style="width: 200px;background: grey;height: 100%;">
    
    <div class="logo py-4">
        <img src="./assets/logo1.png" alt="Employee Portal" width="100" height="100" />
    </div>
    <mat-divider></mat-divider>
    
    <h2 matSubheader class="mt-2">EMPLOYEE PORTAL</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>home</mat-icon>  Home 
    </a>
    
    <a mat-list-item> <mat-icon>message</mat-icon> Messages </a>
    <a mat-list-item> <mat-icon>analytics</mat-icon> Analytics </a>   
    
</mat-nav-list>





